html {
  --brand_color: #dff350;
  --secondary: #4f7157;
  --tertiary: #e8dfce;
  --font-color: #1c1c1d;
  --space-xs: 10px;
  --space-sm: 15px;
  --space-md: 20px;
  --space-lg: 30px;
  --space-xl: 40px;
  --font-footer: 15px;
  --font-xxs: 18px;
  --font-xs: 22px;
  --font-sm: 30px;
  --font-md: 35px;
  --font-lg: 80px;
  --font-regular: 400;
  --font-medium: 500;
}
/* FONTE */ /*
font-family: 'Manrope', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Unbounded', cursive;
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}
body {
  background-color: var(--secondary);
}

/* Fyld ud på siden med padding */
main,
.full {
  display: grid;
  grid-template-columns: 1fr minmax(0, 1100px) 1fr;
}

.full {
  grid-column: 1/-1;
}

main > *,
.full > * {
  /* main > *, .full > * */
  grid-column: 2/3;
}

.full {
  background-color: var(--tertiary);
}

ul {
  display: flex;
  flex-flow: wrap;
  list-style: none;
  margin-inline: var(--space-lg);
  padding: 10px 0px 10px 0px;
  justify-content: end;
  gap: 8px;
}
header a {
  color: var(--font-color);
  font-size: var(--font-xs);
  padding-left: 80px;
  text-decoration: none;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
}
header a:hover {
  color: var(--brand_color);
  font-size: var(--font-xs);
  padding-left: 80px;
  text-decoration: none;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}

header a:active {
  color: var(--brand_color);
  font-size: var(--font-xs);
  padding-left: 80px;
  text-decoration: none;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}

/* FONTE */
@media (max-width: 700px) {
  h1 {
    font-size: var(--font-md);
    color: var(--brand_color);
    font-family: "Unbounded", cursive;
    font-weight: 400;
  }
  h2 {
    font-size: var(--font-sm);
    color: var(--brand_color);
    font-family: "Unbounded", cursive;
    font-weight: 400;
  }
  h3 {
    font-size: var(--font-xs);
    color: var(--brand_color);
    font-family: "Manrope", sans-serif;
    font-weight: 900;
  }
  p {
    font-size: var(--font-xxs);
    color: var(--font-color);
    font-family: "Manrope", sans-serif;
    font-weight: 400;
  }
}

h1 {
  font-size: var(--font-lg);
  color: var(--brand_color);
  font-family: "Unbounded", cursive;
  font-weight: 400;
}
h2 {
  font-size: var(--font-md);
  color: var(--brand_color);
  font-family: "Unbounded", cursive;
  font-weight: 400;
}
h3 {
  font-size: var(--font-sm);
  color: var(--brand_color);
  font-family: "Manrope", sans-serif;
  font-weight: 900;
}
p {
  font-size: var(--font-xs);
  color: var(--font-color);
  font-family: "Manrope", sans-serif;
  font-weight: 400;
}

h2 {
  padding-bottom: 25px;
  padding-top: 10px;
}
section {
  margin: 20px;
}

/* LOGO */
.logo {
  width: 40%;
  margin-inline-start: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
/*multimedie logo */
.multi_logo {
  width: 80%;
  margin-inline-start: 10px;
  margin-left: 60px;
  margin-top: 210px;
  margin-bottom: 100px;
}
@media (min-width: 700px) {
  .logo {
    width: 20%;
    margin-inline-start: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .multi_logo {
    width: 50%;
    margin-inline-start: 30px;
    margin-left: 500px;
    margin-top: 210px;
    margin-bottom: 200px;
  }
}

/* BURGER MENU */
.main-menu ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1rem;
}
.toggle-btn {
  background: transparent;
  border: none;
  min-width: 30px;
  min-height: 30px;
  cursor: pointer;
  display: none;
  font-size: var(--font-xs);
  color: var(--font-color);
  font-family: "Manrope", sans-serif;
  font-weight: 400;
}

@media (max-width: 700px) {
  .toggle-btn {
    display: inline-block;
  }
  .main-menu ul {
    display: block;
    flex-flow: wrap;
    flex-basis: 100%;
  }
}
.burger {
  width: 20px;
  aspect-ratio: 1/1;
  background-image: url(kryds.svg);
}
.kryds .burger {
  background-image: url(burger.svg);
}
.main-menu.kryds ul {
  display: none;
}
.main-menu {
  text-align: end;
  padding: 5px;
}
.main-menu button {
  margin: 20px;
  padding-right: 10px;
}

/* Footer */
.grid_1_1_1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  place-content: center;
  padding-left: 180px;
}
footer {
  margin-top: 60px;
  padding-block: 70px;
}
footer p {
  color: var(--font-color);
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: var(--font-footer);
  text-decoration: none;
}

footer a {
  color: var(--font-color);
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: var(--font-footer);
  text-decoration: none;
}
footer a:hover {
  color: var(--brand_color);
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: var(--font-footer);
  text-decoration: none;
}
@media (max-width: 700px) {
  .grid_1_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    place-content: center;
    padding-left: 30px;
  }
  footer a,
  footer p {
    font-size: 9px;
  }
  footer a:hover {
    color: var(--brand_color);
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 9px;
    text-decoration: none;
  }
}

/* Portfolio */
.knap_side a {
  color: var(--font-color);
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: var(--font-xs);
  text-decoration: none;
  border-bottom: solid #1c1c1d;
}

/* Portfolio grid */
@media (max-width: 700px) {
  .boks {
    padding-block: 30%;
  }
  .boks {
    padding-block: 20%;
  }
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  gap: var(--space-md);
}
.gallery .boks {
  display: grid;
  place-items: center;
  height: 310px;
  width: 320px;
}
.gallery .boks .ps,
.boks .ps,
.gallery .boks h3 p a {
  grid-area: 1/1;
  transition: 0.3s;
}

.gallery .boks h3 {
  font-size: var(--font-sm);
  color: var(--brand_color);
  font-family: "Unbounded", cursive;
  font-weight: 400;
  place-items: center;
  text-align: center;
  padding-bottom: 120px;
}
.gallery .boks p {
  font-size: var(--font-xs);
  color: var(--brand_color);
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  place-self: bottom;
  text-align: center;
}

.gallery .boks a {
  font-size: var(--font-xs);
  color: var(--brand_color);
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  place-self: bottom;
  text-align: center;
}
.gallery .boks .ps {
  opacity: 0;
  z-index: 3;
}
.gallery .boks h3 {
  z-index: 3;
}
.gallery .boks:hover h3 {
  opacity: 0;
}
.gallery .boks:hover .ps {
  opacity: 1;
  display: block;
}
.boks {
  background-color: var(--font-color);
  transition: 0.3s;
}
.gallery .boks:hover {
  background-color: var(--font-color);
  opacity: 90%;
}
.boks:hover {
  transform: scale(1.1);
}

/* Om Mig */
.om_img {
  width: 70%;
}
.om_mig a {
  color: var(--font-color);
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: var(--font-xs);
  text-decoration: none;
  border-bottom: solid 2px var(--font-color);
}
.om_mig {
  padding-top: 20px;
  padding-bottom: 20px;
}
.vertical h1 {
  font-size: var(--font-md);
  color: var(--brand_color);
  font-family: "Unbounded", cursive;
  font-weight: 400;
}
@media (min-width: 700px) {
  .vertical {
    transform: rotate(-90deg);
    place-self: center start;
  }
  .grid_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px;
  }
}
.kontakt {
  place-self: center;
  text-align: center;
}
.kontakt a {
  color: var(--font-color);
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: var(--font-xs);
  text-decoration: none;
}
.kontakt a:hover {
  color: var(--brand_color);
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: var(--font-xs);
  text-decoration: none;
}
.logo_boks {
  width: 50%;
  margin-inline-start: 110px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.logo_boks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  place-content: center;
  gap: 10px;
}
@media (min-width: 700px) {
  .logo_boks {
    width: 25%;
    margin-inline-start: 400px;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .logo_boks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    place-content: center;
    gap: 10px;
  }
}

/* forms*/
@media (min-width: 700px) {
  input[type="text"],
  input[type="tel"] {
    border: none;
    background-color: var(--secondary);
    border: 2px solid var(--brand_color);
    width: 50%;
    padding: 12px;
  }
  #besked {
    border: 2px solid var(--brand_color);
    background-color: var(--secondary);
    margin-top: 12px;
    margin-bottom: 12px;
    width: 50%;
  }

  label {
    color: var(--brand_color);
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: var(--font-xxs);
    text-decoration: none;
  }
  form button {
    background-color: var(--font-color);
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: var(--font-xxs);
    padding: 15px;
    border-radius: 10px;
    color: var(--brand_color);
    margin-top: 10px;
    width: 50%;
  }
}
input {
  border: none;
  border-bottom: 2px solid var(--brand_color);
}

form {
  width: 100%;
  padding: 10px;
  align-content: flex-start;
  place-self: start;
  text-align: start;
  margin-top: 50px;
}

input[type="text"],
input[type="tel"] {
  border: none;
  background-color: var(--secondary);
  border: 2px solid var(--brand_color);
  width: 80%;
  padding: 12px;
}
#besked {
  border: 2px solid var(--brand_color);
  background-color: var(--secondary);
  margin-top: 12px;
  margin-bottom: 12px;
  width: 80%;
}

label {
  color: var(--brand_color);
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: var(--font-xxs);
  text-decoration: none;
}
form button {
  background-color: var(--font-color);
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: var(--font-xxs);
  padding: 15px;
  border-radius: 10px;
  color: var(--brand_color);
  margin-top: 10px;
  width: 80%;
}

/* Portfolio sider */
@media (min-width: 700px) {
  .grid_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
  .grid_1_1 img {
    object-fit: cover;
    aspect-ratio: 1/1;
    width: 80%;
  }
}

@media (max-width: 700px) {
  .grid_1_1 h2 {
    font-size: var(--font-sm);
    color: var(--font-color);
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .grid_1_1 h3 {
    font-size: var(--font-xs);
    color: var(--font-color);
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .grid_1_1 a {
    font-size: var(--font-xxs);
    color: var(--font-color);
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    border-bottom: solid 2px var(--font-color);
  }
  .pitch h3 {
    font-size: var(--font-xs);
    color: var(--font-color);
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .pitch a {
    font-size: var(--font-xxs);
    color: var(--font-color);
    font-family: "Manrope", sans-serif;
    font-weight: 400;
  }
}

.grid_1_1 h3 {
  font-size: var(--font-sm);
  color: var(--font-color);
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 10px;
}
.grid_1_1 a {
  font-size: var(--font-xs);
  color: var(--font-color);
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  border-bottom: solid 2px var(--font-color);
}
.grid_1_1 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.pitch h3 {
  font-size: var(--font-sm);
  color: var(--font-color);
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 10px;
}
.pitch a {
  font-size: var(--font-xs);
  color: var(--font-color);
  font-family: "Manrope", sans-serif;
  font-weight: 400;
}
.pitch {
  padding-top: 20px;
  padding-bottom: 20px;
}
